<div class="row">
    <div class="col-md-12 table-bordered">
        <div class="jumbotron">
            <h1>FRESH ORGANIC MARKET!</h1>
            <p class="lead">Nice chance to save a lot of money</p>
            <hr class="my-4">
            <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let category of cardCategories">
        <db-category-card 
        [category]="category">
        </db-category-card>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <db-product-search></db-product-search>
        <db-category-list></db-category-list>
    </div>
    <div class="col-md-9">
            <db-product-grid></db-product-grid>
    </div>
</div>